@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
.SchoolAdminLoginBg{
    background-size: cotain !important;
    background-position:left center !important;
    background-repeat: no-repeat !important;
    height: 100vh;
    position: fixed;
}
h1, h4 {
    color: #000;
}
.SchoolAdminLoginBg .logo{
    padding:15px;
    width: 220px;
    float: left;
}
.image-div{
    margin:90px 0;
}
.schoolAdminLoginDiv{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ededed;
    height: 100vh;
    color: #000;
    padding: 20vh 30px;
    margin:0;
    font-size: 1rem !important;
}
